.inner-box {
    border: 1px solid #b1b0b0;
}
.box p {
    color: #b1b0b0;
}
@media(min-width: 768px) {

    .box-b .inner-box {
        border-top: 0;
    }
    .box-two .inner-box {
        border-left: 0;
        border-top: 0;
    }
    .box-four .inner-box {
        border-left: 0;
        border-top: 0;
    }
    .box-last .inner-box {
        border-left: 0;
        border-top: 0;
    }
    
}
@media(max-width: 767px) {
    
    .inner-box {
        border-top: 0;
    }
    .sub-box + .inner-box {
        border: 0;
    }
    .box-a .inner-box {
        border-top: 1px solid #b1b0b0;
    }
    .box-a .inner-box {
        background-color: darkslateblue;
    }
    .box-b .inner-box {
        background-color: palevioletred;
    }
    .box-two .inner-box {
        background-color: rgb(46, 135, 252);
    }
    .box-four .inner-box {
        background-color:  tomato;
    }
    .box-last .inner-box {
        background-color:  orangered;
    }
}


@media(min-width: 768px) and (max-width: 991px) {
    .box-a .inner-box {
        background-color:   rgb(46, 135, 252);
    }
    .box-b .inner-box {
        background-color: orangered;
    }
    .box-two .inner-box {
        background-color:  palevioletred;;
    }
    .box-four .inner-box {
        background-color: tomato;
    }
    .box-last .inner-box {
        background-color:darkslateblue;
    }
}
@media(min-width: 992px) {
    .box-a .inner-box {
        background-color: tomato;
    }
    .box-b .inner-box {
        background-color: darkslateblue;
    }
    .box-two .inner-box {
        background-color: orangered;
    }
    .box-four .inner-box {
        background-color: palevioletred;
    }
    .box-last .inner-box {
        background-color: rgb(46, 135, 252);
    }
}

